<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form name="form" ng-submit="userRegistrationCtrl.submit(form)">
                <input type="email" ng-model="userRegistrationCtrl.registration.email">Email</input>
                <input type="name" ng-model="userRegistrationCtrl.registration.name">Name</input>
                <input type="phone" ng-model="userRegistrationCtrl.registration.phone">Phone Number</input>
                <button type="submit">register for event</button>
            </form>
        </div>
    </div>
</div>
