.eventField{
  margin-bottom: -30px !important;
}
.md-select-menu-container {
  z-index: 9999;
}
._md{
  z-index: 9999 !important;
}
.modal-header{
  position: relative;
  padding: 15px 15px;
  color:white;
  background:$secondaryAccentOrange;
  border-bottom: none;
  width: 100% !important;
  margin: 0px !important;
}
