<div class="source-list-modal">
  <div class="modal-header">
    <h3 class="modal-title">
      Add New Site
    </h3>
  </div>

  <div class="modal-body">
    <form name ="newEvent" ng-submit="addSiteModalCtrl.addSite()">
      <div layout-gt-md="row" class="siteField">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Site Name</label>
          <input type="text" ng-model="addSiteModalCtrl.site.name" required>
        </md-input-container>
      </div>
      <div layout-gt-md="row" class="siteField">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Site Location</label>
          <input type="text" ng-model="addSiteModalCtrl.site.location" required>
        </md-input-container>
      </div>

      <md-select ng-model="addSiteModalCtrl.site.beacon">
        <md-option ng-value="None">Site Beacon</md-option>
        <md-option ng-repeat="beacon in addSiteModalCtrl.beacons" ng-value="beacon.key">
          {{beacon.name}}
        </md-option>
      </md-select>
      <div class="controls" layout="row" layout-align="end">
        <md-button type="submit" class="md-primary md-raised form-submit-button">Add Site</md-button>
      </div>
    </form>
  </div>
</div>
