.beaconUUID{
  color: gray;
  font-size: 14px;
  padding-left: 30px;
  margin-top: -20px;

}
.beaconName{
  font-size: 20px;
  padding-left: 30px;

}
.plusSign{
  right: 15px !important;
  position: absolute;
}

.col-no-padding{
  padding: 0 !important;
}
.topbar{
  background-color: $secondaryAccentOrange !important;
  color: white;
}
