<title>Events</title>
<div class="col-sm-4">
  <div class="addNewEventCard" ng-click="dashboardCtrl.openAddEventModal()">
          <i class="fa fa-plus fa-5x newEvent"></i>
          <h3 class="newEvent">Add New Event</h3>
  </div>
</div>
<div class="col-sm-4"  ng-repeat="event in dashboardCtrl.events track by $index">
  <div class="eventCard">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" class="no-margin" md-theme-watch>
      <span class="md-headline">{{event.name}}</span>
      <md-card-title>
        <md-card-title-text>

          <span class="md-datetime"><i class="fa fa-calendar fa-1.5x"></i>&nbsp{{event.datetime | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a'}}</span>
          <span class="md-address"> <i class="fa fa-map-marker fa-1.5x"></i>&nbsp{{event.address}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <a ui-sref="event({eventId: event.key})"><md-button>View Details</md-button></a>
        <md-button>Add Sites</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
