body{

}
*{
  font-family: 'Roboto', sans-serif;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
.centerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon{
  color: $primaryAccentPurple;
}
.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: $secondaryAccentOrange;
    margin-bottom: 40px;
}
.features{
  margin-bottom: 40px;
}

.how-it-works{
  position: relative;
  padding: 30px 15px;
  color:white;
  background:$primaryAccentPurple;
  border-bottom: none;
  width: 100% !important;
  margin: 0px !important;
}
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
ol li{
  padding-top: 15px;
  font-size: 16px;
}
